In [2]:
tup = 4, 5,6
tup

(4, 5, 6)

In [3]:
tuple([4, 0,2])

(4, 0, 2)

In [4]:
tup = tuple('stirng')

In [5]:
tup

('s', 't', 'i', 'r', 'n', 'g')

In [6]:
tup = (['foo', [1, 2], True] )
tup[1].append(3)
tup

['foo', [1, 2, 3], True]

In [7]:
(4,5,6) + (None, True) + ('bar',)

(4, 5, 6, None, True, 'bar')

In [8]:
(1,2) * 5

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

In [9]:
tup = (4,5, [6,7])
a, b, [c, d] = tup
c

6

In [10]:
a, b = 1,2
a, b = b, a

In [11]:
a

2

In [12]:
seq = ([1,2,3], [4,5,6], [7,8,9])
for a, b, c in seq:
    print('a={}; b={}; c={}'.format(a, b, c))

a=1; b=2; c=3
a=4; b=5; c=6
a=7; b=8; c=9

In [13]:
vals = 1, 2,3,4,5,6,
a, b, *c = vals
c

[3, 4, 5, 6]

In [14]:
la = [2,3,4, None]

In [15]:
tup = ('one', 'two', 'three')
lb = list(tup)
lb

['one', 'two', 'three']

In [16]:
gen = range(10)
gen

range(0, 10)

In [17]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
la.insert(2, 'dir')
la

[2, 3, 'dir', 4, None]

In [20]:
la.pop(2)

'dir'

In [22]:
la.remove(3)
la

[2, 4, None]

In [23]:
'test' in lb

False

In [31]:
lb.extend([7, 8, (2, 3)])

In [42]:
lb.sort()
lb

['one', 'three', 'two']

In [43]:
lb.sort(key=len)
lb

['one', 'two', 'three']

In [45]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

4

In [47]:
bisect.bisect(c, 5)

6

In [50]:
bisect.insort(c, 9)

In [52]:
c[:4]

[1, 2, 2, 2]

In [53]:
c[-1::-1]

[9, 7, 6, 4, 3, 2, 2, 2, 1]

In [54]:
c[-3:]

[6, 7, 9]

In [56]:
mapping = {}
for i, v in enumerate(lb):
    mapping[v] = i

mapping

{'one': 0, 'two': 1, 'three': 2}

In [59]:
sorted([6, 23, 34,3, 72,3,7,9])

TypeError: object of type 'int' has no len()

In [61]:
sorted({1: 'D', 2: 'B', 3: 'B', 4: 'E', 5: 'A'}.values() )

['A', 'B', 'B', 'D', 'E']

In [62]:
student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),
]
sorted(student_tuples, key=lambda student: student[2])

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [63]:
class Student:
    def __init__(self, name, grade, age):
        self.name = name
        self.grade = grade
        self.age = age
    def __repr__(self):
        return repr((self.name, self.grade, self.age))

student_objects = [
    Student('john', 'A', 15),
    Student('jane', 'B', 12),
    Student('dave', 'B', 10),
]
sorted(student_objects, key=lambda student: student.age)

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [64]:
student_objects

[('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]

In [66]:
student_objects[0].name

'john'

In [68]:
seq1 = ["a", 'b', 'c']
seq2 = ['one', 'two', 'three']
seq3 = [False, True ]

In [72]:
for i, (a, b)  in enumerate( zip(seq1, seq2)):
    print(a, b)

a one
b two
c three

In [78]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
             ('Schilling', 'Curt')]

In [76]:
one ,two = zip(*pitchers)

In [82]:
list(reversed(range(0,10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [83]:
d1 = {'a': 'some ', 'b':[1, 2,3,4]}
d1

{'a': 'some ', 'b': [1, 2, 3, 4]}

In [84]:
d1['3'] = 'string'

In [85]:
d1['b']

[1, 2, 3, 4]

In [86]:
'3' in d1

True

In [88]:
del(d1['3'])

In [89]:
d1[5] = 'dfasdf '

In [91]:
d1.pop(5)

'dfasdf '

In [92]:
d1

{'a': 'some ', 'b': [1, 2, 3, 4]}

In [93]:
d1.update({'b': 'fa', 'c': 'Hello'})
d1

{'a': 'some ', 'b': 'fa', 'c': 'Hello'}

In [99]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [100]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [95]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [96]:
by_letter

defaultdict(list, {})

In [98]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [58]:
?sorted

Signature: sorted(iterable, /, *, key=None, reverse=False)
Docstring:
Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the
reverse flag can be set to request the result in descending order.
Type:      builtin_function_or_method

In [30]:
print(lc)

None