In [7]:
def my_func(x, y, z=1.5):
    print( "x = ", x)
    print( "y = ", y)
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [2]:
my_func(1, 2, 2)

6

In [3]:
my_func(1, 1, 0.5)

0.25

In [4]:
my_func(1, 1)

3.0

In [8]:
my_func(y = 6, x =  5, z=7)

x =  5
y =  6

77

In [6]:
my_func(x =  5, y = 6,  z=7)

77

In [12]:
a = []
def func():
    global a
    for i in range(5):
        a.append(i)


func()
a

[0, 1, 2, 3, 4]

In [14]:
func()
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [15]:
def f():
    a = 1
    b = 2
    c = 3
    return {'a': a, 'b': b, 'c': c}

f()

{'a': 1, 'b': 2, 'c': 3}

In [16]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
           'south   carolina##', 'West virginia?']

In [23]:
import re

def clean_str(strs):
    strs = strs.strip()
    strs = re.sub('[!#?]', '', strs)
    strs = strs.title()
    return strs

In [24]:
[ clean_str(s) for s in states ]

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [25]:
def sf(x):
    return x**2

ll = lambda x:x**2

In [26]:
ints = [4, 0, 1, 5, 6]
[ sf(i) for i in ints]

[16, 0, 1, 25, 36]

In [29]:
[ ll(i) for i in ints ]

[16, 0, 1, 25, 36]

In [33]:
list(map(ll, ints))

[16, 0, 1, 25, 36]

In [36]:
tuple(map(lambda x:x**2 , ints))

(16, 0, 1, 25, 36)

In [37]:
tuple(map(clean_str, states))

('Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia')

In [38]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(list(x))))

In [39]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [41]:
set(list(strings))

{'aaaa', 'abab', 'bar', 'card', 'foo'}

In [42]:
some_dict = {'a': 1, 'b': 2, 'c': 3}

In [51]:
def fib(max):
    a, b = 0, 1
    while a < max:
        yield a
        a, b = b, a + b

In [52]:
for n in fib(10):
    print(n)

0
1
1
2
3
5
8

In [53]:
import itertools

In [56]:
first_letter = lambda x:x[0]

names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [57]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

1

In [1]:
float('3.131492654')

3.131492654

In [2]:
float('some')

ValueError: could not convert string to float: 'some'

In [3]:
def atmp_float(x):
    try:
        return float(x)
    except:
        return x

In [4]:
atmp_float('3.13')

3.13

In [5]:
atmp_float('hello')

'hello'

In [6]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [7]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [8]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [9]:
attempt_float((1, 2))

(1, 2)

In [11]:
f = open('./test.txt', 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

Failed

In [12]:
lines = [x.rstrip() for x in open('./README.md')]
lines

['# README',
 '',
 '***',
 '',
 '[《利用Python进行数据分析》中文第3版已出版](https://u.jd.com/W8xSkzl)，新版小鼹鼠亮相，对初学者更友好了。',
 '',
 '<br/>',
 '',
 '<div align=center>',
 '    <a href="https://u.jd.com/W8xSkzl">',
 '        <img src="https://p.ipic.vip/48zva4.png" width="500px">',
 '    </a>',
 '</div>',
 '<div align=center>',
 '    <a href="https://u.jd.com/W8xSkzl">购买链接</a>',
 '</div>',
 '',
 '<br/>',
 '',
 '第三版多了**41**页内容，Pandas升级为1.4.0、Python升级为3.10。第三版最大的变化是**紧贴Pandas升级，主要是新增了方法和特性的内容**。另外，第三版有作者的[在线开源电子版](https://wesmckinney.com/book/)了，GitHub[地址](https://github.com/wesm/pydata-book)。',
 '',
 '第三版目录略有调整，不如第二版和第一版的变化大：',
 '- 第4章NumPy基础新增了生成伪随机数；',
 '- 第7章数据清洗新增了扩展数据类型和分类数据，实际是把第二版中第12章的内容放到新版第7章里了；',
 '- 第11章时间序列新增了分组时间重采样。',
 '',
 '曾经不止一次听别人抱怨，Pandas的知识点分散、零碎、不便于记忆。在细节上，作者这次在新版中摒弃了许多容易造成记忆混乱的用法。比如，用`axis = "columns"`替代`axis = 1`，简写方式破坏了代码的可读性，作者修改了许多类似的编程细节。新版对初学者更为友好了！',
 '',
 '***',
 '',
 '<div align=center>',
 '    <img src="http://upload-images.jianshu.io/upload_images/7178691-0d965cf51eb5af9e.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240" width="500px">',
 '</div>',
 '',
 '<br/>',
 '',
 '在简书上阅读： [https://www.jianshu.com/p/04d180d90a3f](https://www.jianshu.com/p/04d180d90a3f)',
 '',
 '下载本书：[http://www.jianshu.com/p/fad9e41c1a42](http://www.jianshu.com/p/fad9e41c1a42) （更新为GitHub链接）',
 '',
 '下载本书代码（本书GitHub地址）：[https://github.com/wesm/pydata-book](https://github.com/wesm/pydata-book) （建议把代码下载下来之后，安装好Anaconda 3.6，在目录文件夹中用Jupyter notebook打开）',
 '',
 '本书是2017年10月20号正式出版的，和第1版的不同之处有：',
 '',
 '* 包括Python教程内的所有代码升级为Python 3.6（第1版使用的是Python 2.7）',
 '* 更新了Anaconda和其它包的Python安装方法',
 '* 更新了Pandas为2017最新版',
 '* 新增了一章，关于更高级的Pandas工具，外加一些tips',
 '* 简要介绍了使用StatsModels和scikit-learn',
 '',
 '对有些内容进行了重新排版。（译者注1：最大的改变是把第1版附录中的Python教程，单列成了现在的第2章和第3章，并且进行了扩充。可以说，本书第2版对新手更为友好了！）',
 '',
 '（译者注2：毫无疑问，本书是学习Python数据分析最好的参考书。本来想把书名直接译为《Python数据分析》，这样更简短。但是为了尊重第1版的翻译，考虑到继承性，还是用老书名。这样读过第一版的老读者可以方便的用之前的书名检索到第二版。作者在写第二版的时候，有些文字是照搬第一版的。所以第二版的翻译也借鉴copy了第一版翻译：即，如果第二版中有和第一版相同的文字，则copy第一版的中文译本，觉得不妥的地方会稍加修改，剩下的不同的内容就自己翻译。这样做也是为读过第一版的老读者考虑——相同的内容可以直接跳过。）',
 '',
 '***',
 '***',
 '',
 '',
 '<div align=center>',
 '    <a href="https://item.jd.com/13255935.html">',
 '        <img src="https://tva1.sinaimg.cn/large/008vxvgGly1h8obmj8oc6j308w08w3z2.jpg" width="200px">',
 '    </a>',
 '</div>',
 '<div align=center>',
 '    <p>我的微信·WeChat，欢迎沟通 ^_^</p>',
 '</div>']

In [13]:
f = open('./README.md')
f.readlines()

['# README\n',
 '\n',
 '***\n',
 '\n',
 '[《利用Python进行数据分析》中文第3版已出版](https://u.jd.com/W8xSkzl)，新版小鼹鼠亮相，对初学者更友好了。\n',
 '\n',
 '<br/>\n',
 '\n',
 '<div align=center>\n',
 '    <a href="https://u.jd.com/W8xSkzl">\n',
 '        <img src="https://p.ipic.vip/48zva4.png" width="500px">\n',
 '    </a>\n',
 '</div>\n',
 '<div align=center>\n',
 '    <a href="https://u.jd.com/W8xSkzl">购买链接</a>\n',
 '</div>\n',
 '\n',
 '<br/>\n',
 '\n',
 '第三版多了**41**页内容，Pandas升级为1.4.0、Python升级为3.10。第三版最大的变化是**紧贴Pandas升级，主要是新增了方法和特性的内容**。另外，第三版有作者的[在线开源电子版](https://wesmckinney.com/book/)了，GitHub[地址](https://github.com/wesm/pydata-book)。\n',
 '\n',
 '第三版目录略有调整，不如第二版和第一版的变化大：\n',
 '- 第4章NumPy基础新增了生成伪随机数；\n',
 '- 第7章数据清洗新增了扩展数据类型和分类数据，实际是把第二版中第12章的内容放到新版第7章里了；\n',
 '- 第11章时间序列新增了分组时间重采样。\n',
 '\n',
 '曾经不止一次听别人抱怨，Pandas的知识点分散、零碎、不便于记忆。在细节上，作者这次在新版中摒弃了许多容易造成记忆混乱的用法。比如，用`axis = "columns"`替代`axis = 1`，简写方式破坏了代码的可读性，作者修改了许多类似的编程细节。新版对初学者更为友好了！\n',
 '\n',
 '***\n',
 '\n',
 '<div align=center>\n',
 '    <img src="http://upload-images.jianshu.io/upload_images/7178691-0d965cf51eb5af9e.png?imageMogr2/auto-orient/strip|imageView2/2/w/1240" width="500px">\n',
 '</div>\n',
 '\n',
 '<br/>\n',
 '\n',
 '在简书上阅读： [https://www.jianshu.com/p/04d180d90a3f](https://www.jianshu.com/p/04d180d90a3f)\n',
 '\n',
 '下载本书：[http://www.jianshu.com/p/fad9e41c1a42](http://www.jianshu.com/p/fad9e41c1a42) （更新为GitHub链接）\n',
 '\n',
 '下载本书代码（本书GitHub地址）：[https://github.com/wesm/pydata-book](https://github.com/wesm/pydata-book) （建议把代码下载下来之后，安装好Anaconda 3.6，在目录文件夹中用Jupyter notebook打开）\n',
 '\n',
 '本书是2017年10月20号正式出版的，和第1版的不同之处有：\n',
 '\n',
 '* 包括Python教程内的所有代码升级为Python 3.6（第1版使用的是Python 2.7）\n',
 '* 更新了Anaconda和其它包的Python安装方法\n',
 '* 更新了Pandas为2017最新版\n',
 '* 新增了一章，关于更高级的Pandas工具，外加一些tips\n',
 '* 简要介绍了使用StatsModels和scikit-learn\n',
 '\n',
 '对有些内容进行了重新排版。（译者注1：最大的改变是把第1版附录中的Python教程，单列成了现在的第2章和第3章，并且进行了扩充。可以说，本书第2版对新手更为友好了！）\n',
 '\n',
 '（译者注2：毫无疑问，本书是学习Python数据分析最好的参考书。本来想把书名直接译为《Python数据分析》，这样更简短。但是为了尊重第1版的翻译，考虑到继承性，还是用老书名。这样读过第一版的老读者可以方便的用之前的书名检索到第二版。作者在写第二版的时候，有些文字是照搬第一版的。所以第二版的翻译也借鉴copy了第一版翻译：即，如果第二版中有和第一版相同的文字，则copy第一版的中文译本，觉得不妥的地方会稍加修改，剩下的不同的内容就自己翻译。这样做也是为读过第一版的老读者考虑——相同的内容可以直接跳过。）\n',
 '\n',
 '***\n',
 '***\n',
 '\n',
 '\n',
 '<div align=center>\n',
 '    <a href="https://item.jd.com/13255935.html">\n',
 '        <img src="https://tva1.sinaimg.cn/large/008vxvgGly1h8obmj8oc6j308w08w3z2.jpg" width="200px">\n',
 '    </a>\n',
 '</div>\n',
 '<div align=center>\n',
 '    <p>我的微信·WeChat，欢迎沟通 ^_^</p>\n',
 '</div>\n']

In [16]:
f = open('./README.md')
f.readline()

'# README\n'