In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from pandas import DataFrame, Series

In [2]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
obj.values

array([ 4,  7, -5,  3])

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
obj2 = pd.Series([4, 7, -5, 3], index=['a', 'b', 'c', 'd'])
obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [6]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
obj2['b']

7

In [8]:
obj2[1]

7

In [9]:
arr = np.random.randn(4)

In [10]:
arr[1]

-1.1658343644904476

In [11]:
obj2[obj2 > 0]

a    4
b    7
d    3
dtype: int64

In [12]:
obj2 **2

a    16
b    49
c    25
d     9
dtype: int64

In [13]:
obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [14]:
np.exp(obj2)

a      54.598150
b    1096.633158
c       0.006738
d      20.085537
dtype: float64

In [15]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [16]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [17]:
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [19]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [20]:
pd.isna(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [21]:
obj4.name = 'population'
obj4.index.name = 'state'

In [22]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [23]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [24]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [25]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [26]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [27]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

In [28]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
   ....:                       index=['one', 'two', 'three', 'four',
   ....:                              'five', 'six'])

In [29]:
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [31]:
list(frame2.columns)

['year', 'state', 'pop', 'debt']

In [33]:
frame2['pop']

one      1.5
two      1.7
three    3.6
four     2.4
five     2.9
six      3.2
Name: pop, dtype: float64

In [34]:
frame2['pop'][1:4]

two      1.7
three    3.6
four     2.4
Name: pop, dtype: float64

In [35]:
frame2.year

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

In [37]:
frame2.loc['one']

year     2000
state    Ohio
pop       1.5
debt      NaN
Name: one, dtype: object

In [38]:
frame2.debt = 23

In [39]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5    23
two    2001    Ohio  1.7    23
three  2002    Ohio  3.6    23
four   2001  Nevada  2.4    23
five   2002  Nevada  2.9    23
six    2003  Nevada  3.2    23

In [41]:
frame2.debt = range(6)

In [42]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5     0
two    2001    Ohio  1.7     1
three  2002    Ohio  3.6     2
four   2001  Nevada  2.4     3
five   2002  Nevada  2.9     4
six    2003  Nevada  3.2     5

In [43]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
val

two    -1.2
four   -1.5
five   -1.7
dtype: float64

In [44]:
frame2['debt']

one      0
two      1
three    2
four     3
five     4
six      5
Name: debt, dtype: int64

In [45]:
frame2

       year   state  pop  debt
one    2000    Ohio  1.5     0
two    2001    Ohio  1.7     1
three  2002    Ohio  3.6     2
four   2001  Nevada  2.4     3
five   2002  Nevada  2.9     4
six    2003  Nevada  3.2     5

In [46]:
frame2['debt'] = val
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [47]:
frame2['eastern'] = frame2.state == 'Ohio'

In [48]:
frame2

       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False
six    2003  Nevada  3.2   NaN    False

In [49]:
del frame2['eastern']
frame2

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [50]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

frame3 = pd.DataFrame(pop)
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [51]:
frame3.T

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

In [52]:
pd.DataFrame(pop, index=[2001, 2002, 2003])

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [53]:
pdata = {'Ohio': frame3['Ohio'][:-1], 'Nevada':frame3['Nevada'][:2]}
pd.DataFrame(pdata)

      Ohio  Nevada
2001   1.7     2.4
2002   3.6     2.9

In [54]:
frame3.index.name = 'year'; frame3.columns.name = 'state'

In [55]:
frame3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

In [56]:
frame3.values

array([[2.4, 1.7],
       [2.9, 3.6],
       [nan, 1.5]])

In [57]:
frame2.values

array([[2000, 'Ohio', 1.5, nan],
       [2001, 'Ohio', 1.7, -1.2],
       [2002, 'Ohio', 3.6, nan],
       [2001, 'Nevada', 2.4, -1.5],
       [2002, 'Nevada', 2.9, -1.7],
       [2003, 'Nevada', 3.2, nan]], dtype=object)

In [58]:
obj = pd.Series(range(3), index =['a', 'b', 'c'])
obj

a    0
b    1
c    2
dtype: int64

In [59]:
index = obj.index

In [60]:
index

Index(['a', 'b', 'c'], dtype='object')

In [61]:
labels = pd.Index(np.arange(3))
labels

Int64Index([0, 1, 2], dtype='int64')

In [62]:
obj2 = pd.Series([1.5, -2.5, 0], index=labels)
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [63]:
obj2.index is labels

True

In [64]:
obj2.index = [1, 2,2]

In [65]:
obj2

1    1.5
2   -2.5
2    0.0
dtype: float64

In [66]:
obj2.index

Int64Index([1, 2, 2], dtype='int64')

In [67]:
index

Index(['a', 'b', 'c'], dtype='object')

In [69]:
index.append(pd.Index([3, 4, 5]))

Index(['a', 'b', 'c', 3, 4, 5], dtype='object')

In [70]:
index

Index(['a', 'b', 'c'], dtype='object')

In [72]:
index.difference(pd.Index(['a']))

Index(['b', 'c'], dtype='object')

In [73]:
index

Index(['a', 'b', 'c'], dtype='object')

In [74]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [75]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [76]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [77]:
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [78]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])

frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [79]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [80]:
states = ['Texas', 'Utah', 'California']

In [81]:
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [82]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'] )
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [84]:
obj.drop(['d', 'c'])

a    0.0
b    1.0
e    4.0
dtype: float64

In [85]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                     index=['Ohio', 'Colorado', 'Utah', 'New York'],
                     columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [87]:
data.drop('Ohio')

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [88]:
data.drop('two', axis=1)

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [89]:
data.drop(['two', 'four'], axis='columns')

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

In [90]:
obj.drop('c', inplace=True)
obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [91]:
obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [92]:
obj['a']

0.0

In [111]:
obj['a':'b'] = 3

In [96]:
obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [97]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [98]:
data['two']

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int64

In [99]:
data.loc['Ohio']

one      0
two      1
three    2
four     3
Name: Ohio, dtype: int64

In [100]:
data[:2]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [102]:
data[data['three'] > 5]

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [103]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [104]:
data.loc['Ohio', ['one', 'three']]

one      0
three    2
Name: Ohio, dtype: int64

In [105]:
data.iloc[2, [3, 1]]

four    11
two      9
Name: Utah, dtype: int64

In [106]:
obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [109]:
obj[:'d'] = 6

In [110]:
obj

a    6.0
b    6.0
d    6.0
e    4.0
dtype: float64

In [112]:
data.iloc[:, :3][data['three'] > 5]

          one  two  three
Colorado    4    5      6
Utah        8    9     10
New York   12   13     14

In [113]:
ser = pd.Series(np.arange(3.))
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [119]:
ser.iloc[-1]

2.0

In [115]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1]

2.0

In [118]:
ser2.iloc[-1]

2.0

In [120]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [121]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [122]:
s1 + s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [144]:
df1 = pd.DataFrame(np.arange(9).reshape(3, 3), columns=list('bcd'),
                   index = ['O', 'T', 'C'])

df2 = pd.DataFrame(np.arange(12).reshape(4, 3), columns=list('bde'),
                   index = ['U','O', 'T', 'M'])
df1.add(df2, fill_value=0)

   b  c  d
O  0  1  2
T  3  4  5
C  6  7  8

In [145]:
df2

   b   d   e
U  0   1   2
O  3   4   5
T  6   7   8
M  9  10  11

In [146]:
df1 + df2

     b   c     d   e
C  NaN NaN   NaN NaN
M  NaN NaN   NaN NaN
O  3.0 NaN   6.0 NaN
T  9.0 NaN  12.0 NaN
U  NaN NaN   NaN NaN

In [147]:
df1.add(df2, fill_value=0)

     b    c     d     e
C  6.0  7.0   8.0   NaN
M  9.0  NaN  10.0  11.0
O  3.0  1.0   6.0   5.0
T  9.0  4.0  12.0   8.0
U  0.0  NaN   1.0   2.0

In [129]:
df1

   b  c  d
O  0  1  2
T  3  4  5
C  6  7  8

In [130]:
df2

   b   d   e
U  0   1   2
O  3   4   5
T  6   7   8
M  9  10  11

In [131]:
df1.add(df2, fill_value=0)

     b    c     d     e
C  6.0  7.0   8.0   NaN
M  9.0  NaN  10.0  11.0
O  3.0  1.0   6.0   5.0
T  9.0  4.0  12.0   8.0
U  0.0  NaN   1.0   2.0

In [134]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                   columns=list('abcd'))

df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                   columns=list('abcde'))

df2.loc[1, 'b'] = np.nan
df1.add(df2, fill_value=0)

In [140]:
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [141]:
df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [142]:
df1 + df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [143]:
df1.add(df2, fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [151]:
df1 = pd.DataFrame(np.arange(9).reshape(3, 3), columns=list('bcd'),
                   index = ['O', 'T', 'V'])

df2 = pd.DataFrame(np.arange(12).reshape(4, 3), columns=list('bde'),
                   index = ['U','O', 'T', 'M'])
df1.add(df2, fill_value=0)

     b    c     d     e
M  9.0  NaN  10.0  11.0
O  3.0  1.0   6.0   5.0
T  9.0  4.0  12.0   8.0
U  0.0  NaN   1.0   2.0
V  6.0  7.0   8.0   NaN

In [158]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                   columns=list('abcd'))

df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                   columns=list('abcde'))

df2.loc[1, 'b'] = np.nan
df1.add(df2, fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [159]:
df1 + df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [160]:
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [161]:
df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [162]:
df1 = pd.DataFrame(np.arange(9).reshape(3, 3), columns=list('bcd'))

df2 = pd.DataFrame(np.arange(12).reshape(4, 3), columns=list('bde'))
df1.add(df2, fill_value=0)

      b    c     d     e
0   0.0  1.0   3.0   2.0
1   6.0  4.0   9.0   5.0
2  12.0  7.0  15.0   8.0
3   9.0  NaN  10.0  11.0

In [163]:
df1

   b  c  d
0  0  1  2
1  3  4  5
2  6  7  8

In [164]:
df2

   b   d   e
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [165]:
df1.reindex(columns=df2.columns, fill_value=0)

   b  d  e
0  0  2  0
1  3  5  0
2  6  8  0

In [168]:
arr = np.arange(12.).reshape(3,4)

In [169]:
arr - arr[0]

array([[0., 0., 0., 0.],
       [4., 4., 4., 4.],
       [8., 8., 8., 8.]])

In [171]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)),
                     columns = list('bde'),
                     index = ['Utah', 'Ohio', 'Texas', 'Oregon'])

series = frame.iloc[0]

frame

        b   d   e
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11

In [172]:
series

b    0
d    1
e    2
Name: Utah, dtype: int64

In [173]:
frame - series

        b  d  e
Utah    0  0  0
Ohio    3  3  3
Texas   6  6  6
Oregon  9  9  9

In [175]:
series2 = pd.Series(np.arange(3), index=list('bef'))
series2

b    0
e    1
f    2
dtype: int64

In [176]:
frame + series2

          b   d     e   f
Utah    0.0 NaN   3.0 NaN
Ohio    3.0 NaN   6.0 NaN
Texas   6.0 NaN   9.0 NaN
Oregon  9.0 NaN  12.0 NaN

In [177]:
series3 = frame['d']
frame

        b   d   e
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11

In [178]:
series3

Utah       1
Ohio       4
Texas      7
Oregon    10
Name: d, dtype: int64

In [179]:
frame.sub(series3, axis =0)

        b  d  e
Utah   -1  0  1
Ohio   -1  0  1
Texas  -1  0  1
Oregon -1  0  1

In [180]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])

frame

               b         d         e
Utah    1.140809 -1.647888  0.620308
Ohio    1.663939  0.460701  0.265909
Texas   0.333622  0.051935  0.508275
Oregon -0.248622 -0.507947 -0.093972

In [181]:
np.abs(frame)

               b         d         e
Utah    1.140809  1.647888  0.620308
Ohio    1.663939  0.460701  0.265909
Texas   0.333622  0.051935  0.508275
Oregon  0.248622  0.507947  0.093972

In [182]:
f = lambda x: x.max() - x.min()
frame.apply(f)

b    1.912560
d    2.108589
e    0.714280
dtype: float64

In [183]:
frame.apply(f, axis=1)

Utah      2.788697
Ohio      1.398029
Texas     0.456341
Oregon    0.413975
dtype: float64

In [184]:
def f(x):
    return pd.Series([x.max(), x.min()], index=['max', 'min'] )

In [185]:
frame.apply(f)

            b         d         e
max  1.663939  0.460701  0.620308
min -0.248622 -1.647888 -0.093972

In [186]:
frame.apply(f, axis=1)

             max       min
Utah    1.140809 -1.647888
Ohio    1.663939  0.265909
Texas   0.508275  0.051935
Oregon -0.093972 -0.507947

In [187]:
obj = pd.Series(np.arange(4), index = list('dabc'))
obj

d    0
a    1
b    2
c    3
dtype: int64

In [188]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [192]:
frame = pd.DataFrame(np.arange(8.).reshape((2, 4 )), 
                     columns=list('dabc'), 
                     index= ['Two', 'One'])
frame

       d    a    b    c
Two  0.0  1.0  2.0  3.0
One  4.0  5.0  6.0  7.0

In [205]:
frame = frame.sort_index(axis=1)

In [197]:
frame.sort_index()

       d    a    b    c
One  4.0  5.0  6.0  7.0
Two  0.0  1.0  2.0  3.0

In [206]:
frame

       a    b    c    d
Two  1.0  2.0  3.0  0.0
One  5.0  6.0  7.0  4.0

In [207]:
frame.sort_values(axis=1, by='One')

       d    a    b    c
Two  0.0  1.0  2.0  3.0
One  4.0  5.0  6.0  7.0

In [208]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj.sort_values()

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [209]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [210]:
frame.sort_values(by=['a', 'b'])

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [211]:
obj

0    4.0
1    NaN
2    7.0
3    NaN
4   -3.0
5    2.0
dtype: float64

In [212]:
obj.rank()

0    3.0
1    NaN
2    4.0
3    NaN
4    1.0
5    2.0
dtype: float64

In [213]:
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 
                      'a': [0, 1, 0, 1], 
                      'c': [-2, 5, 8, -2.5]})
frame

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

In [214]:
frame.rank(axis='columns')

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [215]:
frame.rank()

     b    a    c
0  3.0  1.5  2.0
1  4.0  3.5  3.0
2  1.0  1.5  4.0
3  2.0  3.5  1.0

In [216]:
ser = pd.Series(np.arange(5), index=list('aabbc'))
ser

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [219]:
ser.index.unique()

Index(['a', 'b', 'c'], dtype='object')

In [220]:
ser['a']

a    0
a    1
dtype: int64

In [221]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                   index=['a', 'b', 'c', 'd'],
                     columns=['one', 'two'])

df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [223]:
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [224]:
df.mean(axis='columns', skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [225]:
df.mean(axis='columns')

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

In [227]:
!conda install -y pandas-datareader

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /work_place/software/miniconda/envs/d2l

  added / updated specs:
    - pandas-datareader


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    blas-1.0                   |         openblas          45 KB  defaults
    bottleneck-1.3.7           |   py38h7b7cdfe_0         125 KB  defaults
    brotli-python-1.0.9        |   py38he9d5cce_7         353 KB  defaults
    ca-certificates-2024.3.11  |       hecd8cb5_0         128 KB  defaults
    certifi-2024.2.2           |   py38hecd8cb5_0         160 KB  defaults
    charset-normalizer-2.0.4   |     pyhd3eb1b0_0          35 KB  defaults
    icu-73.1                   |       hcec6c5f_0        25.1 MB  defaults
    idna-3.4                   |   py38hecd8cb5_0          96 KB  defaults
    libgfortran-5.0.0          |11_3_0_hecd8cb5_28         142 KB  defaults
    libgfortran5-11.3.0        |      h9dfd629_28         1.4 MB  defaults
    libiconv-1.16              |       hca72f7f_2         695 KB  defaults
    libopenblas-0.3.21         |       h54e7dc3_0         4.9 MB  defaults
    libxml2-2.10.4             |       h1bd7e62_1         665 KB  defaults
    libxslt-1.1.37             |       h6c40b1e_1         241 KB  defaults
    llvm-openmp-14.0.6         |       h0dcd299_0         288 KB  defaults
    lxml-4.9.3                 |   py38h946e0e5_0         1.3 MB  defaults
    numexpr-2.8.4              |   py38h57a7bef_1         130 KB  defaults
    numpy-1.24.3               |   py38h57a7bef_0          12 KB  defaults
    numpy-base-1.24.3          |   py38hc93c6d9_0         6.5 MB  defaults
    openssl-1.1.1w             |       hca72f7f_0         2.8 MB  defaults
    pandas-2.0.3               |   py38h3ea8b11_0        11.5 MB  defaults
    pandas-datareader-0.10.0   |     pyhd3eb1b0_0          71 KB  defaults
    pysocks-1.7.1              |           py38_1          27 KB  defaults
    python-dateutil-2.8.2      |     pyhd3eb1b0_0         233 KB  defaults
    python-tzdata-2023.3       |     pyhd3eb1b0_0         140 KB  defaults
    pytz-2023.3.post1          |   py38hecd8cb5_0         215 KB  defaults
    requests-2.31.0            |   py38hecd8cb5_1         100 KB  defaults
    six-1.16.0                 |     pyhd3eb1b0_1          18 KB  defaults
    urllib3-2.1.0              |   py38hecd8cb5_1         154 KB  defaults
    xz-5.4.6                   |       h6c40b1e_0         373 KB  defaults
    ------------------------------------------------------------
                                           Total:        58.0 MB

The following NEW packages will be INSTALLED:

  blas               anaconda/pkgs/main/osx-64::blas-1.0-openblas
  bottleneck         anaconda/pkgs/main/osx-64::bottleneck-1.3.7-py38h7b7cdfe_0
  brotli-python      anaconda/pkgs/main/osx-64::brotli-python-1.0.9-py38he9d5cce_7
  charset-normalizer anaconda/pkgs/main/noarch::charset-normalizer-2.0.4-pyhd3eb1b0_0
  icu                anaconda/pkgs/main/osx-64::icu-73.1-hcec6c5f_0
  idna               anaconda/pkgs/main/osx-64::idna-3.4-py38hecd8cb5_0
  libgfortran        anaconda/pkgs/main/osx-64::libgfortran-5.0.0-11_3_0_hecd8cb5_28
  libgfortran5       anaconda/pkgs/main/osx-64::libgfortran5-11.3.0-h9dfd629_28
  libiconv           anaconda/pkgs/main/osx-64::libiconv-1.16-hca72f7f_2
  libopenblas        anaconda/pkgs/main/osx-64::libopenblas-0.3.21-h54e7dc3_0
  libxml2            anaconda/pkgs/main/osx-64::libxml2-2.10.4-h1bd7e62_1
  libxslt            anaconda/pkgs/main/osx-64::libxslt-1.1.37-h6c40b1e_1
  llvm-openmp        anaconda/pkgs/main/osx-64::llvm-openmp-14.0.6-h0dcd299_0
  lxml               anaconda/pkgs/main/osx-64::lxml-4.9.3-py38h946e0e5_0
  numexpr            anaconda/pkgs/main/osx-64::numexpr-2.8.4-py38h57a7bef_1
  numpy              anaconda/pkgs/main/osx-64::numpy-1.24.3-py38h57a7bef_0
  numpy-base         anaconda/pkgs/main/osx-64::numpy-base-1.24.3-py38hc93c6d9_0
  pandas             anaconda/pkgs/main/osx-64::pandas-2.0.3-py38h3ea8b11_0
  pandas-datareader  anaconda/pkgs/main/noarch::pandas-datareader-0.10.0-pyhd3eb1b0_0
  pysocks            anaconda/pkgs/main/osx-64::pysocks-1.7.1-py38_1
  python-dateutil    anaconda/pkgs/main/noarch::python-dateutil-2.8.2-pyhd3eb1b0_0
  python-tzdata      anaconda/pkgs/main/noarch::python-tzdata-2023.3-pyhd3eb1b0_0
  pytz               anaconda/pkgs/main/osx-64::pytz-2023.3.post1-py38hecd8cb5_0
  requests           anaconda/pkgs/main/osx-64::requests-2.31.0-py38hecd8cb5_1
  six                anaconda/pkgs/main/noarch::six-1.16.0-pyhd3eb1b0_1
  urllib3            anaconda/pkgs/main/osx-64::urllib3-2.1.0-py38hecd8cb5_1

The following packages will be UPDATED:

  ca-certificates    pkgs/main::ca-certificates-2021.10.26~ --> anaconda/pkgs/main::ca-certificates-2024.3.11-hecd8cb5_0
  certifi            pkgs/main::certifi-2021.10.8-py38hecd~ --> anaconda/pkgs/main::certifi-2024.2.2-py38hecd8cb5_0
  libcxx                pkgs/main::libcxx-12.0.0-h2f01273_0 --> anaconda/pkgs/main::libcxx-14.0.6-h9765a3e_0
  openssl              pkgs/main::openssl-1.1.1l-h9ed2024_0 --> anaconda/pkgs/main::openssl-1.1.1w-hca72f7f_0
  xz                         pkgs/main::xz-5.2.5-h1de35cc_0 --> anaconda/pkgs/main::xz-5.4.6-h6c40b1e_0
  zlib                    pkgs/main::zlib-1.2.11-h1de35cc_3 --> anaconda/pkgs/main::zlib-1.2.13-h4dc903c_0



Downloading and Extracting Packages
xz-5.4.6             | 373 KB    |                                       |   0%
lxml-4.9.3           | 1.3 MB    |                                       |   0%

blas-1.0             | 45 KB     |                                       |   0%


brotli-python-1.0.9  | 353 KB    |                                       |   0%



openssl-1.1.1w       | 2.8 MB    |                                       |   0%




python-tzdata-2023.3 | 140 KB    |                                       |   0%





pysocks-1.7.1        | 27 KB     |                                       |   0%






libxslt-1.1.37       | 241 KB    |                                       |   0%







six-1.16.0           | 18 KB     |                                       |   0%








libopenblas-0.3.21   | 4.9 MB    |                                       |   0%









ca-certificates-2024 | 128 KB    |                                       |   0%










llvm-openmp-14.0.6   | 288 KB    |                                       |   0%











python-dateutil-2.8. | 233 KB    |                                       |   0%












bottleneck-1.3.7     | 125 KB    |                                       |   0%













charset-normalizer-2 | 35 KB     |                                       |   0%














numexpr-2.8.4        | 130 KB    |                                       |   0%















libxml2-2.10.4       | 665 KB    |                                       |   0%
















libiconv-1.16        | 695 KB    |                                       |   0%

















libgfortran5-11.3.0  | 1.4 MB    |                                       |   0%


















numpy-1.24.3         | 12 KB     |                                       |   0%



















idna-3.4             | 96 KB     |                                       |   0%




















pandas-datareader-0. | 71 KB     |                                       |   0%





















requests-2.31.0      | 100 KB    |                                       |   0%






















 ... (more hidden) ...



openssl-1.1.1w       | 2.8 MB    | 2                                     |   1%
xz-5.4.6             | 373 KB    | #5                                    |   4%



openssl-1.1.1w       | 2.8 MB    | 4                                     |   1%

xz-5.4.6             | 373 KB    | ######3                               |  17%
lxml-4.9.3           | 1.3 MB    | 8                                     |   2%


brotli-python-1.0.9  | 353 KB    | #6                                    |   5%



openssl-1.1.1w       | 2.8 MB    | 8                                     |   2%
lxml-4.9.3           | 1.3 MB    | ##6                                   |   7%


xz-5.4.6             | 373 KB    | ###################                   |  51%



openssl-1.1.1w       | 2.8 MB    | ##4                                   |   7%
lxml-4.9.3           | 1.3 MB    | ####9                                 |  13%


brotli-python-1.0.9  | 353 KB    | ###########7                          |  32%



openssl-1.1.1w       | 2.8 MB    | ###4                                  |   9%
xz-5.4.6             | 373 KB    | ##############################1       |  81%

blas-1.0             | 45 KB     | ##########################3           |  71%

blas-1.0             | 45 KB     | ##################################### | 100%



openssl-1.1.1w       | 2.8 MB    | ####4                                 |  12%




xz-5.4.6             | 373 KB    | ##################################### | 100%





pysocks-1.7.1        | 27 KB     | #####################6                |  58%
lxml-4.9.3           | 1.3 MB    | #############8                        |  37%





pysocks-1.7.1        | 27 KB     | ##################################### | 100%


brotli-python-1.0.9  | 353 KB    | ####################1                 |  54%
lxml-4.9.3           | 1.3 MB    | ########################              |  65%






libxslt-1.1.37       | 241 KB    | ##4                                   |   7%



openssl-1.1.1w       | 2.8 MB    | #####5                                |  15%







six-1.16.0           | 18 KB     | ################################      |  87%







six-1.16.0           | 18 KB     | ##################################### | 100%






libxslt-1.1.37       | 241 KB    | ############2                         |  33%


brotli-python-1.0.9  | 353 KB    | ##############################1       |  81%






libxslt-1.1.37       | 241 KB    | ######################                |  60%


brotli-python-1.0.9  | 353 KB    | ##################################### | 100%



openssl-1.1.1w       | 2.8 MB    | ######3                               |  17%








libopenblas-0.3.21   | 4.9 MB    | 1                                     |   0%




python-tzdata-2023.3 | 140 KB    | ##################################### | 100%




python-tzdata-2023.3 | 140 KB    | ##################################### | 100%






libxslt-1.1.37       | 241 KB    | ##################################### | 100%






libxslt-1.1.37       | 241 KB    | ##################################### | 100%









ca-certificates-2024 | 128 KB    | ####6                                 |  12%



openssl-1.1.1w       | 2.8 MB    | #######7                              |  21%








libopenblas-0.3.21   | 4.9 MB    | #7                                    |   5%
lxml-4.9.3           | 1.3 MB    | ####################################5 |  99%










llvm-openmp-14.0.6   | 288 KB    | ##                                    |   6%









ca-certificates-2024 | 128 KB    | #########2                            |  25%








libopenblas-0.3.21   | 4.9 MB    | ##5                                   |   7%
lxml-4.9.3           | 1.3 MB    | ##################################### | 100%










llvm-openmp-14.0.6   | 288 KB    | ################################9     |  89%











python-dateutil-2.8. | 233 KB    | ##5                                   |   7%










llvm-openmp-14.0.6   | 288 KB    | ##################################### | 100%








libopenblas-0.3.21   | 4.9 MB    | ###8                                  |  10%









ca-certificates-2024 | 128 KB    | #######################               |  62%



openssl-1.1.1w       | 2.8 MB    | ########5                             |  23%











python-dateutil-2.8. | 233 KB    | ##################################### | 100%











python-dateutil-2.8. | 233 KB    | ##################################### | 100%












bottleneck-1.3.7     | 125 KB    | ####7                                 |  13%








libopenblas-0.3.21   | 4.9 MB    | ####9                                 |  13%












bottleneck-1.3.7     | 125 KB    | ##################################### | 100%



openssl-1.1.1w       | 2.8 MB    | #########3                            |  25%













charset-normalizer-2 | 35 KB     | #################1                    |  46%













charset-normalizer-2 | 35 KB     | ##################################### | 100%



openssl-1.1.1w       | 2.8 MB    | ##########                            |  27%














numexpr-2.8.4        | 130 KB    | ####5                                 |  12%








libopenblas-0.3.21   | 4.9 MB    | #####8                                |  16%









ca-certificates-2024 | 128 KB    | ################################2     |  87%









ca-certificates-2024 | 128 KB    | ##################################### | 100%














numexpr-2.8.4        | 130 KB    | ##################################### | 100%















libxml2-2.10.4       | 665 KB    | 8                                     |   2%








libopenblas-0.3.21   | 4.9 MB    | ######7                               |  18%



openssl-1.1.1w       | 2.8 MB    | ##########6                           |  29%
















libiconv-1.16        | 695 KB    | 8                                     |   2%








libopenblas-0.3.21   | 4.9 MB    | #######7                              |  21%















libxml2-2.10.4       | 665 KB    | ####4                                 |  12%

















libgfortran5-11.3.0  | 1.4 MB    | 4                                     |   1%

















libgfortran5-11.3.0  | 1.4 MB    | #####3                                |  14%








libopenblas-0.3.21   | 4.9 MB    | ########7                             |  24%
















libiconv-1.16        | 695 KB    | #7                                    |   5%















libxml2-2.10.4       | 665 KB    | ################                      |  43%



openssl-1.1.1w       | 2.8 MB    | ###########2                          |  30%
















libiconv-1.16        | 695 KB    | #####1                                |  14%



openssl-1.1.1w       | 2.8 MB    | ###########8                          |  32%

















libgfortran5-11.3.0  | 1.4 MB    | ########5                             |  23%








libopenblas-0.3.21   | 4.9 MB    | #########5                            |  26%



openssl-1.1.1w       | 2.8 MB    | ############4                         |  34%

















libgfortran5-11.3.0  | 1.4 MB    | ####################                  |  54%








libopenblas-0.3.21   | 4.9 MB    | ##########3                           |  28%
















libiconv-1.16        | 695 KB    | ######8                               |  18%















libxml2-2.10.4       | 665 KB    | ##########################6           |  72%



openssl-1.1.1w       | 2.8 MB    | #############                         |  35%
















libiconv-1.16        | 695 KB    | ########5                             |  23%








libopenblas-0.3.21   | 4.9 MB    | ###########1                          |  30%















libxml2-2.10.4       | 665 KB    | ##################################### | 100%

















libgfortran5-11.3.0  | 1.4 MB    | ##########################1           |  71%


















numpy-1.24.3         | 12 KB     | ##################################### | 100%

















libgfortran5-11.3.0  | 1.4 MB    | ###############################9      |  86%
















libiconv-1.16        | 695 KB    | ###########                           |  30%


















numpy-1.24.3         | 12 KB     | ##################################### | 100%



openssl-1.1.1w       | 2.8 MB    | #############6                        |  37%








libopenblas-0.3.21   | 4.9 MB    | ############4                         |  34%



















idna-3.4             | 96 KB     | ######1                               |  17%

















libgfortran5-11.3.0  | 1.4 MB    | ####################################8 | 100%



openssl-1.1.1w       | 2.8 MB    | ##############3                       |  39%
















libiconv-1.16        | 695 KB    | ############7                         |  35%

















libgfortran5-11.3.0  | 1.4 MB    | ##################################### | 100%








libopenblas-0.3.21   | 4.9 MB    | #############6                        |  37%



















idna-3.4             | 96 KB     | ##################5                   |  50%



















idna-3.4             | 96 KB     | ##################################### | 100%



openssl-1.1.1w       | 2.8 MB    | ##############9                       |  40%




















pandas-datareader-0. | 71 KB     | ########2                             |  22%
















libiconv-1.16        | 695 KB    | #################8                    |  48%





















requests-2.31.0      | 100 KB    | #####9                                |  16%




















pandas-datareader-0. | 71 KB     | ##################################### | 100%








libopenblas-0.3.21   | 4.9 MB    | ##############6                       |  40%





















requests-2.31.0      | 100 KB    | ###################################4  |  96%






















 ... (more hidden) ...








libopenblas-0.3.21   | 4.9 MB    | ###############4                      |  42%
















libiconv-1.16        | 695 KB    | ####################4                 |  55%





















requests-2.31.0      | 100 KB    | ##################################### | 100%



openssl-1.1.1w       | 2.8 MB    | ###############5                      |  42%








libopenblas-0.3.21   | 4.9 MB    | ################4                     |  44%






















 ... (more hidden) ...






















 ... (more hidden) ...
















libiconv-1.16        | 695 KB    | #######################               |  62%



openssl-1.1.1w       | 2.8 MB    | ################5                     |  45%








libopenblas-0.3.21   | 4.9 MB    | #################5                    |  47%



openssl-1.1.1w       | 2.8 MB    | #################1                    |  46%
















libiconv-1.16        | 695 KB    | #########################5            |  69%








libopenblas-0.3.21   | 4.9 MB    | ##################3                   |  50%



openssl-1.1.1w       | 2.8 MB    | #################7                    |  48%
















libiconv-1.16        | 695 KB    | ##############################6       |  83%








libopenblas-0.3.21   | 4.9 MB    | ###################1                  |  52%








libopenblas-0.3.21   | 4.9 MB    | ###################9                  |  54%



openssl-1.1.1w       | 2.8 MB    | ##################3                   |  50%
















libiconv-1.16        | 695 KB    | #################################2    |  90%
















libiconv-1.16        | 695 KB    | ###################################7  |  97%



openssl-1.1.1w       | 2.8 MB    | ###################                   |  51%








libopenblas-0.3.21   | 4.9 MB    | #####################1                |  57%
















libiconv-1.16        | 695 KB    | ##################################### | 100%



openssl-1.1.1w       | 2.8 MB    | ###################6                  |  53%








libopenblas-0.3.21   | 4.9 MB    | #####################9                |  59%








libopenblas-0.3.21   | 4.9 MB    | #######################2              |  63%



openssl-1.1.1w       | 2.8 MB    | ####################2                 |  55%









In [241]:
all_data = {ticker: web.DataReader(ticker, 'iex')
            for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

ValueError: The IEX Cloud API key must be provided either through the api_key variable or through the  environment variable IEX_API_KEY

In [240]:
?web.DataReader

Signature:
web.DataReader(
    name,
    data_source=None,
    start=None,
    end=None,
    retry_count=3,
    pause=0.1,
    session=None,
    api_key=None,
)
Docstring:
Imports data from a number of online sources.

Currently supports Google Finance, St. Louis FED (FRED),
and Kenneth French's data library, among others.

Parameters
----------
name : str or list of strs
    the name of the dataset. Some data sources (IEX, fred) will
    accept a list of names.
data_source: {str, None}
    the data source ("iex", "fred", "ff")
start : string, int, date, datetime, Timestamp
    left boundary for range (defaults to 1/1/2010)
end : string, int, date, datetime, Timestamp
    right boundary for range (defaults to today)
retry_count : {int, 3}
    Number of times to retry query request.
pause : {numeric, 0.001}
    Time, in seconds, to pause between consecutive queries of chunks. If
    single value given for symbol, represents the pause between retries.
session : Session, default None
    requests.sessions.Session instance to be used
api_key : (str, None)
    Optional parameter to specify an API key for certain data sources.

Examples
----------
# Data from Google Finance
aapl = DataReader("AAPL", "iex")

# Price and volume data from IEX
tops = DataReader(["GS", "AAPL"], "iex-tops")
# Top of book executions from IEX
gs = DataReader("GS", "iex-last")
# Real-time depth of book data from IEX
gs = DataReader("GS", "iex-book")

# Data from FRED
vix = DataReader("VIXCLS", "fred")

# Data from Fama/French
ff = DataReader("F-F_Research_Data_Factors", "famafrench")
ff = DataReader("F-F_Research_Data_Factors_weekly", "famafrench")
ff = DataReader("6_Portfolios_2x3", "famafrench")
ff = DataReader("F-F_ST_Reversal_Factor", "famafrench")
File:      /work_place/software/miniconda/envs/d2l/lib/python3.8/site-packages/pandas_datareader/data.py
Type:      function

In [243]:
all_data = {ticker: web.DataReader(ticker, 'naver')
            for ticker in ['005930', '000660', '005380', '051910']}

In [244]:
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})

In [245]:
price = pd.DataFrame({ticker: data['Close']
                     for ticker, data in all_data.items()})

In [251]:
price = price.astype(float)

In [252]:
returns = price.pct_change()
returns.tail()

              005930    000660    005380    051910
Date
2024-03-14  0.002699 -0.010391  0.012072 -0.022222
2024-03-15 -0.026918 -0.004324 -0.031809 -0.020455
2024-03-18  0.006916  0.019231 -0.004107  0.020882
2024-03-19  0.000000 -0.024954 -0.020619 -0.007955
2024-03-20  0.056319 -0.023096  0.014737  0.004582

In [253]:
returns['005930'].corr(returns['005380'])

0.46497847156626043

In [255]:
returns['005930'].cov(returns['005930'])

0.00024237062506901586

In [256]:
returns['005930'].corr(returns['005930'])

0.9999999999999999

In [257]:
returns.corr()

          005930    000660    005380    051910
005930  1.000000  0.672542  0.464978  0.357243
000660  0.672542  1.000000  0.348760  0.296842
005380  0.464978  0.348760  1.000000  0.351545
051910  0.357243  0.296842  0.351545  1.000000

In [258]:
returns.cov()

          005930    000660    005380    051910
005930  0.000242  0.000238  0.000153  0.000153
000660  0.000238  0.000516  0.000167  0.000186
005380  0.000153  0.000167  0.000445  0.000204
051910  0.000153  0.000186  0.000204  0.000759

In [250]:
price

           005930  000660  005380  051910
Date
2019-03-22  46550   76100  123500  379500
2019-03-25  45500   72900  120000  367000
2019-03-26  45250   72700  118500  366500
2019-03-27  45350   73400  118500  362500
2019-03-28  44850   72300  119500  361000
...           ...     ...     ...     ...
2024-03-14  74300  161900  251500  440000
2024-03-15  72300  161200  243500  431000
2024-03-18  72800  164300  242500  440000
2024-03-19  72800  160200  237500  436500
2024-03-20  76900  156500  241000  438500

[1234 rows x 4 columns]

In [248]:
price.pct_change()

TypeError: unsupported operand type(s) for /: 'str' and 'str'

Date
2019-03-22    12535911
2019-03-25     8699728
2019-03-26     9729811
2019-03-27     9568081
2019-03-28     6821306
                ...
2024-03-14    22545539
2024-03-15    22580555
2024-03-18    11520348
2024-03-19    15376066
2024-03-20    49753350
Name: Volume, Length: 1234, dtype: object